@page
@model CreateModel

@{
    ViewData["Title"] = "Platforms";
}

<div class="container-fluid">
    <h4>Register Platform</h4>
    <hr />
    <form method="post">
        <input type="hidden" asp-for="Platform.PlatformId"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="card-header bg-secondary text-light">
                        Platform Settings
                    </h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Platform.Name"></label>
                            <input asp-for="Platform.Name" class="form-control"/>
                            <span asp-validation-for="Platform.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.Issuer"></label>
                            <tooltip asp-for="Platform.Issuer"></tooltip>
                            <input asp-for="Platform.Issuer" class="form-control"/>
                            <span asp-validation-for="Platform.Issuer" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.JwkSetUrl"></label>
                            <tooltip asp-for="Platform.JwkSetUrl"></tooltip>
                            <input asp-for="Platform.JwkSetUrl" class="form-control"/>
                            <span asp-validation-for="Platform.JwkSetUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.AccessTokenUrl"></label>
                            <tooltip asp-for="Platform.AccessTokenUrl"></tooltip>
                            <input asp-for="Platform.AccessTokenUrl" class="form-control"/>
                            <span asp-validation-for="Platform.AccessTokenUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.AuthorizeUrl"></label>
                            <tooltip asp-for="Platform.AuthorizeUrl"></tooltip>
                            <input asp-for="Platform.AuthorizeUrl" class="form-control"/>
                            <span asp-validation-for="Platform.AuthorizeUrl" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="card-header bg-secondary text-light">
                        Tool Settings
                    </h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Platform.LoginUrl"></label>
                            <tooltip asp-for="Platform.LoginUrl"></tooltip>
                            <input asp-for="Platform.LoginUrl" class="form-control" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.LaunchUrl"></label>
                            <tooltip asp-for="Platform.LaunchUrl"></tooltip>
                            <input asp-for="Platform.LaunchUrl" class="form-control" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.DeepLinkingLaunchUrl"></label>
                            <tooltip asp-for="Platform.DeepLinkingLaunchUrl"></tooltip>
                            <input asp-for="Platform.DeepLinkingLaunchUrl" class="form-control" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.ClientId"></label>
                            <input asp-for="Platform.ClientId" class="form-control"/>
                            <span asp-validation-for="Platform.ClientId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.PrivateKey"></label>
                            <tooltip asp-for="Platform.PrivateKey"></tooltip>
                            (for development keys see <a href="https://lti-ri.imsglobal.org/keygen/index" target="_blank">https://lti-ri.imsglobal.org/keygen/index</a>)
                            <textarea asp-for="Platform.PrivateKey" class="form-control text-monospace small" rows="5" placeholder="Enter the private key in PEM format."></textarea>
                            <span asp-validation-for="Platform.PrivateKey" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-secondary"/>
        </div>
    </form>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('#@($"{nameof(Model.Platform)}_{nameof(Model.Platform.PrivateKey)}")').bind('paste', function(){
            window.setTimeout(function(){
                var text = '';
                $($('#@($"{nameof(Model.Platform)}_{nameof(Model.Platform.PrivateKey)}")').val().split('\n')).each(function(i,v){
                    v = $.trim(v);
                    if (v.length > 0) text+= v+'\n';
                });
                console.log(text);
                $('#@($"{nameof(Model.Platform)}_{nameof(Model.Platform.PrivateKey)}")').val(text);
            },1);
        });
    </script>
}
