@page
@model EditModel

@{
    ViewData["Title"] = "Platforms";
}

<div class="container">
    <h4>Edit Platform</h4>
    <hr />
    <form method="post">
        <input type="hidden" asp-for="Platform.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="card-header">
                        Platform Settings
                    </h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Platform.Name"></label>
                            <input asp-for="Platform.Name" class="form-control" />
                            <span asp-validation-for="Platform.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.Issuer"></label>
                            <tooltip asp-for="Platform.Issuer"></tooltip>
                            <input asp-for="Platform.Issuer" class="form-control" />
                            <span asp-validation-for="Platform.Issuer" class="text-danger"></span>
                        </div>
                        <div class="alert alert-info">
                            If the @Html.DisplayNameFor(m => m.Platform.Issuer) supports OpenID Connect Discover,
                            you can leave the next two fields blank and they will be filled in.
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.JsonWebKeysUrl"></label>
                            <input asp-for="Platform.JsonWebKeysUrl" class="form-control" />
                            <span asp-validation-for="Platform.JsonWebKeysUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.AccessTokenUrl"></label>
                            <input asp-for="Platform.AccessTokenUrl" class="form-control" />
                            <span asp-validation-for="Platform.AccessTokenUrl" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="card-header">
                        Tool Settings
                    </h5>
                    <div class="card-body">
                        <div class="alert alert-info">
                            Copy and paste the tool settings below from your platform. Either
                            @Html.DisplayNameFor(m => m.Platform.ClientSecret) or
                            @Html.DisplayNameFor(m => m.Platform.ClientPrivateKey) is
                            required.
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.ClientId"></label>
                            <input asp-for="Platform.ClientId" class="form-control" />
                            <span asp-validation-for="Platform.ClientId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.ClientSecret"></label>
                            <tooltip asp-for="Platform.ClientSecret"></tooltip>
                            <input asp-for="Platform.ClientSecret" class="form-control" />
                            <span asp-validation-for="Platform.ClientSecret" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Platform.ClientPrivateKey"></label>
                            <tooltip asp-for="Platform.ClientPrivateKey"></tooltip>
                            <textarea asp-for="Platform.ClientPrivateKey" class="form-control text-monospace small" rows="5"></textarea>
                            <span asp-validation-for="Platform.ClientPrivateKey" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-secondary" />
        </div>
    </form>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('#Platform_ClientPrivateKey').bind('paste', function(e){
            window.setTimeout(function(){
                var text = '';
                $($('#Platform_ClientPrivateKey').val().split('\n')).each(function(i,v){
                    v = $.trim(v);
                    if (v.length > 0) text+= v+'\n';
                });
                console.log(text);
                $('#Platform_ClientPrivateKey').val(text);
            },1);
        });
    </script>
}
