@page
@model CreateModel

@{
    ViewData["Title"] = "Clients";
}

<div class="container">
    <h4>Create Client</h4>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Client.Name"></label>
                    <input asp-for="Client.Name" class="form-control col-md-6" />
                    <span asp-validation-for="Client.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.ClientId"></label>
                    <input asp-for="Client.ClientId" class="form-control col-md-6" />
                    <span asp-validation-for="Client.ClientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.PlatformIssuer"></label>
                    <input asp-for="Client.PlatformIssuer" class="form-control col-md-6" />
                    <span asp-validation-for="Client.PlatformIssuer" class="text-danger"></span>
                </div>
                <p>
                    If the @Html.DisplayNameFor(m => m.Client.PlatformIssuer) supports OpenID Connect Discover,
                    you can leave the next two fields blank.
                </p>
                <div class="form-group">
                    <label asp-for="Client.PlatformJsonWebKeysUrl"></label>
                    <input asp-for="Client.PlatformJsonWebKeysUrl" class="form-control col-md-6" />
                    <span asp-validation-for="Client.PlatformJsonWebKeysUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.PlatformAccessTokenUrl"></label>
                    <input asp-for="Client.PlatformAccessTokenUrl" class="form-control col-md-6" />
                    <span asp-validation-for="Client.PlatformAccessTokenUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-secondary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
