@page
@model EditModel

@{
    ViewData["Title"] = "Clients";
}

<div class="container">
    <h4>Edit Client</h4>
    <hr />
        <div class="row">
            <div class="col">
                <form method="post" class="container">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Client.Id" />
                    <div class="form-group">
                        <label asp-for="Client.ClientId"></label>
                        <input asp-for="Client.ClientId" class="form-control col-md-6" />
                        <span asp-validation-for="Client.ClientId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Client.Name"></label>
                        <input asp-for="Client.Name" class="form-control col-md-6" />
                        <span asp-validation-for="Client.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Client.Issuer"></label>
                        <input asp-for="Client.Issuer" class="form-control col-md-6" />
                        <span asp-validation-for="Client.Issuer" class="text-danger"></span>
                    </div>
                    <p>
                        If the @Html.DisplayNameFor(m => m.Client.Issuer) supports OpenID Connect Discover, 
                        you can leave the next two fields blank.
                    </p>
                    <div class="form-group">
                        <label asp-for="Client.JsonWebKeysUrl"></label>
                        <input asp-for="Client.JsonWebKeysUrl" class="form-control col-md-6" />
                        <span asp-validation-for="Client.JsonWebKeysUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Client.AccessTokenUrl"></label>
                        <input asp-for="Client.AccessTokenUrl" class="form-control col-md-6" />
                        <span asp-validation-for="Client.AccessTokenUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
