@page
@model ClientModel
@{
    ViewData["Title"] = "Client";
    ViewData["ActivePage"] = "Client";
}
<h4>@ViewData["Title"]</h4>
<p>
    This Client was created for you when you registered.
</p>

<div class="row">
    <div class="col-7">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Client.Id" />
            <input type="hidden" asp-for="Client.UserId" />
            <div class="form-group">
                <label asp-for="Client.ClientId"></label>
                <input asp-for="Client.ClientId" class="form-control" />
                <span asp-validation-for="Client.ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.PrivateKey"></label>
                <tooltip asp-for="Client.PrivateKey"></tooltip>
                <textarea asp-for="Client.PrivateKey" class="form-control text-monospace small" rows="5"></textarea>
                <span asp-validation-for="Client.PrivateKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.PublicKey"></label>
                <tooltip asp-for="Client.PublicKey"></tooltip>
                <textarea asp-for="Client.PublicKey" class="form-control text-monospace small" rows="5"></textarea>
                <span asp-validation-for="Client.PublicKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
